<div>
    <a href="/User"><button>User</button></a>
    <a href="/Ingredient"><button>Ingredient</button></a>
    <a href="/Recipe"><button>Recipe</button></a>
    <a href="/logout"><button>Logout</button></a>
</div>