<%-include('../partials/header.ejs')%>

        <form method="GET" action="/ingredient/search">
            <input type="text" name="keyword" placeholder="Search ingredient here..">
            <input type="submit" value="search">
        </form>
        
<%-include('./partials/footer.ejs')%>
