<html>
    <head>

    </head>
    <body>
        <form method="GET" action="/ingredient/search">
            <input type="text" name="keyword" placeholder="Search ingredient here..">
            <input type="submit" value="search">
        </form>
    </body>
</html>