<%-include('./partials/header.ejs')%>

<div class="container-fluid">
    <div><h4>LOGIN</h4></div>
    <form method="post">
        <table >
            <tr>
                <th>Email</th>
                <th>:</th>
                <th><input type="text" name="email"></th>
            </tr>
            <tr>
                <th>Password</th>
                <th>:</th>
                <th><input type="password" name="password"></th>
            </tr>
            <tr>
                <th><input type="submit"></th>
            </tr>
        </table>
    </form>
    <table><tr><th style="color:red"><%=err%></th></tr></table>
</div>

<%-include('./partials/footer.ejs')%>