<div>
    <h1>Register</h1>
</div>

<div>
    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <th>:</th>
                <th><input type="text" name="name"></th>
            </tr>
            <tr>
                <th>Email</th>
                <th>:</th>
                <th><input type="text" name="email"></th>
            </tr>
            <tr>
                <th>Password</th>
                <th>:</th>
                <th><input type="password" name="password"></th>
            </tr>
            <tr>
                <th><input type="submit" value="Register"></th>
            </tr>
        </table>
    </form>
</div>