<div>
    <h2>Edit Account</h2>
</div>
<%-include('./partials/header.ejs')%>

<div>
    <form method="post">
        <table>
            <tr>
                <th>First Name</th>
                <th>:</th>
                <th><input type="text" name="firstName" value="<%=user.firstName%>"></th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th>:</th>
                <th><input type="text" name="lastName" value="<%=user.lastName%>"></th>
            </tr>
            <tr>
                <th>Email</th>
                <th>:</th>
                <th><input type="text" name="email" value="<%=user.email%>"></h3></th>
            </tr>
            <tr>
                <th><input type="submit" value="edit"></th>
            </tr>
        </table>
    </form>
</div>